<%# EXPLORE HACK CLUB %>

<% if current_user.is_teenager? %>
  <div class="flex flex-row w-full justify-between items-center">
    <h2 class="heading h2 leading-[1.5] my-2 mr-auto py-2 px-4 ml-0 pl-0 border-none">
      Explore Hack Club
    </h2>
    <%= link_to "https://hackclub.com?utm_source=hcb&utm_medium=web&utm_campaign=explore", class: "muted", target: :_blank do %>
      Learn more
      <%= inline_icon "external", size: 18, class: "ml-1 align-text-top", style: "transform: scale(1.2)" %>
    <% end %>
  </div>

  <ul class="grid grid--medium-narrow text-left w-100 mt0">
    <%# link_to "https://sprig.hackclub.com?utm_source=hcb&utm_medium=web&utm_campaign=explore", style: "max-width: calc(100vw - 2rem)", class: "draggable no-underline" do %>
      <!-- li class="card card--hover flex flex-col h-full mx-auto card--background-image" style="--bg-image: url('https://cdn.hackclub.com/rescue?url=https://hc-cdn.hel1.your-objectstorage.com/s/v3/66c5fe262f184804a350fcecc44d77fd3d9d8944_image.png')">
        <div class="flex gap-2 items-center">
          <img src="https://cdn.hackclub.com/rescue?url=https://hc-cdn.hel1.your-objectstorage.com/s/v3/de7a5973beecd3e2e4675d8b703ecbd7c9a4f6c6_image.png" height="24" weight="24" class="rounded align-bottom" alt="Sprig logo">
          <strong class="text-xl leading-tight">
            Sprig
          </strong>
        </div>
        <p>
          Build a JavaScript game, share it with the community, and receive a
          free Sprig gaming console.
        </p>
      </li -->
    <%# end %>
    <%= link_to "https://macondo.hackclub.com?utm_source=hcb", style: "max-width: calc(100vw - 2rem)", class: "draggable no-underline" do %>
      <li class="card card--hover flex flex-col h-full mx-auto card--background-image" style="--bg-image: url('https://cdn.hackclub.com/019de05b-9f2e-7e3e-aa20-7053eb0abce8/image.png')">
        <div class="flex gap-2 items-center">
          <img src="https://cdn.hackclub.com/019de05a-4d59-7871-96ef-47aaf7cd6030/image.png" height="24" weight="24" class="rounded align-bottom" alt="Macondo logo">
          <strong class="text-xl leading-tight">
            Macondo
          </strong>
        </div>
        <p>
          Build projects, get free prizes and join us for a hackathon in Bogotá, Colombia.
        </p>
      </li>
    <% end %>
    <%= link_to "https://flavortown.hackclub.com?ref=hcb-explore", style: "max-width: calc(100vw - 2rem)", class: "draggable no-underline" do %>
      <li class="card card--hover flex flex-col h-full mx-auto card--background-image" style="--bg-image: url('https://cdn.hackclub.com/rescue?url=https://hc-cdn.hel1.your-objectstorage.com/s/v3/c2cba3b081ea5943_frame_1.png')">
        <div class="flex gap-2 items-center">
          <img src="https://cdn.hackclub.com/rescue?url=https://hc-cdn.hel1.your-objectstorage.com/s/v3/4cb9a1d8b4650970_image__4_.png" height="24" weight="24" class="rounded align-bottom" alt="Flavortown logo">
          <strong class="text-xl leading-tight">
            Flavortown
          </strong>
        </div>
        <p>
          Hack on personal coding projects, ship them and get free prizes.
        </p>
      </li>
    <% end %>
    <%= link_to "https://hackclub.com/slack?utm_source=hcb&utm_medium=web&utm_campaign=explore", style: "max-width: calc(100vw - 2rem)", class: "draggable no-underline" do %>
      <li class="card card--hover flex flex-col h-full mx-auto card--background-image" style="--bg-image: url('https://cdn.hackclub.com/rescue?url=https://hc-cdn.hel1.your-objectstorage.com/s/v3/f70175ceca256b0e_image.png')">
        <div class="flex gap-2 items-center">
          <img src="https://cdn.hackclub.com/rescue?url=https://hc-cdn.hel1.your-objectstorage.com/s/v3/1ec67469e1a3a7e7_image.png" height="24" weight="24" class="rounded align-bottom" alt="Slack logo">
          <strong class="text-xl leading-tight">
            Hack Club Slack
          </strong>
        </div>
        <p>
          Join the Slack to find the community for your favorite programming
          language, ask for advice, or just hang out.
        </p>
      </li>
    <% end %>
    <%= link_to "https://hackclub.com/clubs/?utm_source=hcb&utm_medium=web&utm_campaign=explore", style: "max-width: calc(100vw - 2rem)", class: "draggable no-underline" do %>
      <li class="card card--hover flex flex-col h-full mx-auto card--background-image" style="--bg-image: url('https://cdn.hackclub.com/019c314b-6372-7705-96f6-8e4c21dc6a42/clubs.jpg')">
        <div class="flex gap-2 items-center">
          <img src="https://assets.hackclub.com/icon-rounded.png" height="24" weight="24" class="rounded align-bottom" alt="Hack Club logo">
          <strong class="text-xl leading-tight">
            Hack Clubs
          </strong>
        </div>
        <p>
          Don’t run your coding club alone. Make it a Hack Club and get free meeting content, stickers, and digital tools.
        </p>
      </li>
    <% end %>
    <%= link_to "https://stasis.hackclub.com?utm_source=hcb", style: "max-width: calc(100vw - 2rem)", class: "draggable no-underline" do %>
      <li class="card card--hover flex flex-col h-full mx-auto card--background-image" style="--bg-image: url('https://cdn.hackclub.com/019cb713-1e85-7916-a0f4-555d6aa0fa4a/image_1__13_.png')">
        <div class="flex gap-2 items-center">
          <img src="https://cdn.hackclub.com/019cb70b-096a-7412-9625-9fa77be951b1/image__192_.png" height="24" weight="24" class="rounded align-bottom" alt="Stasis logo">
          <strong class="text-xl leading-tight">
            Stasis
          </strong>
        </div>
        <p>
          Make hardware projects -> fly to a hardware hackathon in Austin, Texas.
        </p>
      </li>
    <% end %>
    <%= link_to "https://boba.hackclub.com?utm_source=hcb&utm_medium=web&utm_campaign=explore", style: "max-width: calc(100vw - 2rem)", class: "draggable no-underline" do %>
      <li class="card card--hover flex flex-col h-full mx-auto card--background-image" style="--bg-image: url('https://cdn.hackclub.com/rescue?url=https://hc-cdn.hel1.your-objectstorage.com/s/v3/874636112e7ee89c5ae228af158302ace7c1cfea_boba-bg.jpeg')">
        <div class="flex gap-2 items-center">
          <img src="https://cdn.hackclub.com/rescue?url=https://hc-cdn.hel1.your-objectstorage.com/s/v3/b4eb0c338c24e411b01761bf9add90fc955ef42f_boba-logo.png" height="24" weight="24" class="rounded align-bottom" alt="Boba Drops logo">
          <strong class="text-xl leading-tight">
            Boba Drops
          </strong>
        </div>
        <p>
          Build your first website to get a free boba tea, or run a workshop to help others build theirs!
        </p>
      </li>
    <% end %>
  </ul>
<% end %>

<%# EXPLORE HCB %>
<% unless @featured_events.none? %>
  <div class="flex flex-row w-full justify-between items-center">
    <h2 class="heading h2 leading-[1.5] my-2 mr-auto py-2 px-4 ml-0 pl-0 border-none">
      Explore HCB
    </h2>
    <%= link_to "https://hackclub.com/fiscal-sponsorship/directory?utm_source=hcb&utm_medium=web&utm_campaign=explore", class: "muted", target: :_blank do %>
      View all organizations
      <%= inline_icon "external", size: 18, class: "ml-1 align-text-top", style: "transform: scale(1.2)" %>
    <% end %>
  </div>

  <ul class="grid grid--medium-narrow text-left w-100 mt0">
    <%= render partial: "events/event_card", collection: @featured_events, as: :event, locals: { show_category_badge: true, show_date_stat: true } %>
  </ul>
<% end %>
